<% // error alert %> 
<% if(alerts.error) { %>
   <% alerts.error.forEach(msg => { %>
        <div class="alert alert-danger"><%= msg %> </div> 
   <% }) %> 
<% } %> 

<% // success alert %> 
<% if(alerts.success) { %>
   <% alerts.success.forEach(msg => { %>
        <div class="alert alert-success"><%= msg %> </div> 
   <% }) %> 
<% } %> 