<footer>
    <div>
        <p><a href="https://github.com/subrataroy321"><img src="/assets/img/GitHub-Mark.png" alt="github" class="social"></a><a href="https://www.linkedin.com/in/subrataroy321/"><img src="/assets/img/linkedin-in-logo-png-1.png" alt="linkedin" class="social"></a></p>
        <p><span className="text-muted"> Developed by Subrata Roy</span></p>
    </div>
</footer>