<h3>Contact us</h3>
</br>
<!-- <form id="contact-form" action="/contact/send" method="post"> -->
<form id="contact-form">
    <div class="contact">
            <input type="hidden" name="contact_number">
            <div>
                <label>Name</label>
            </div>
            <div>
                <input type="text" name="user_name" style="width: 350px" required>
            </div>
            <div>
                <label>Email: </label>
            </div>
            <div>
                <input type="email" name="user_email" style="width: 350px" required>
            </div>
            <div>
                <label>Message: </label>
            </div>
            <div>
                <textarea name="message" style="height:200px; width: 350px"></textarea required>
            </div>
            <div></div>
            <div>
                <input type="submit" value="Send">
                
            </div>
    </div>
</form>
