</br>
</br>

<form class="searchForm"action="/search" method="get">
    <div class="tripType">
        <input type="radio" value="oneway" id="oneway" name="tripType" onclick="tripTypeCheck()" onload="defaultRadioCheck()"> One Way
        <input type="radio" value="return" id="return" name="tripType" onclick="tripTypeCheck()" checked> Round Trip
        <!-- <input type="radio" value="multicity" id="return" name="tripType"> Multicity -->
    </div>
      <div class="searchInputDiv">

        <label for="originLocationCode">From</label>
        <input class="searchInput" type="text" name="originLocationCode" id="autocomplete-airport-1" required>
        <label for="destinationLocationCode">  To</label>
        <input class="searchInput" type="text" name="destinationLocationCode" id="autocomplete-airport-2" required>
      </div>
  </br>
    <div class="extras">
      <div class="dateSelectDiv">
          <label for="departureDate">Depart</label>
          <input class="dateInput"type="date" name="departureDate" id="departureDate" required>
          <label for="returnDate" id="returnLabel">Return</label>
          <input class="dateInput" type="date" name="returnDate" id="returnDate" required>
      </div>
    </br>
    </br>
    <label for="travelClass">Cabin class</label>
    <select name="travelClass" id="cabinClass">
            <option value="ECONOMY" Selected>Economy</option>
            <option value="PREMIUM_ECONOMY" >Premium Economy</option>
            <option value="BUSINESS">Business Class</option>
            <option value="FIRST">First Class</option>
    </select>
    <label for="adults">Adults</label>
    <select class="extras-select" name="adults" id="adults" required>
            <option value="1" Selected>1</option>
            <option value="2" >2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6" >6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
    </select>
    <label for="children">Children</label>
    <select class="extras-select" name="children" id="children">
            <option value="0" Selected>0</option>
            <option value="1">1</option>
            <option value="2" >2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6" >6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
    </select>
    <label for="infants">Infants</label>
    <select class="extras-select" name="infants" id="infants">
            <option value="0" Selected>0</option>
            <option value="1" >1</option>
            <option value="2" >2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
    </select>
    </br>
  </div>
</br>
    <button type="submit" style="font-size:30px;height:60px;width:600px;background-color:rgb(243, 175, 116);">Search Flights →</button>
</form>

<script>
defaultRadioCheck();


</script>