<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cheap Flight Search</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

    <%- include('partials/nav')  %> 
    <%- include('partials/alerts')  %> 
    <%- body %>
    
    <%-// include('partials/footer')  %> 
  </body>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/airport-autocomplete-js@latest/dist/index.browser.min.js"></script>
    <script src="/js/script.js"></script>
    <script>

    let returnDate = document.getElementById('returnDate');
    let returnLabel = document.getElementById('returnLabel');
    let radios = document.getElementsByName('tripType')
    
    function defaultRadioCheck() {
      if(radios[0].checked || radios[1].checked) {
        //nothing
      } else {
        radios[1].checked = true;
      }
      tripTypeCheck();
    }
    
    
    
    function tripTypeCheck() {
      

      let checkedTripType = document.querySelector('input[name="tripType"]:checked').value;
        
        if(checkedTripType === 'oneway') {
          returnDate.style.display = 'none';
          returnLabel.style.display = 'none';
          returnDate.removeAttribute('required');
        } else {
          returnDate.style.display = 'inline-block';
          returnLabel.style.display = 'inline-block';
          returnDate.setAttribute('required',true);
        }

    }
      
    AirportInput("autocomplete-airport-1");
    AirportInput("autocomplete-airport-2");
    
    var today = new Date().toISOString().split('T')[0];
    document.getElementsByName("departureDate")[0].setAttribute('min', today);
    document.getElementsByName("returnDate")[0].setAttribute('min', today);


    </script>
    
    <% console.log('test string2') %> 
</html>
